
body {
  font-family: "Trebuchet MS", sans-serif;
  margin: 0;
  color: #3b2b0a;
} /* missing bracket, now the code will work and apply*/

#sidebar /*changed .sidebar to #sidebar to match HTML ID */ {
  position: fixed;
  top: 0; /* fixed 'top: yes; to top: 0; because yes is not a unit */
  left: 0;
  width: 220px;
  height: 100%;
  background-color: #d8b382;
  padding: 20px;
  box-shadow: 3px 0 8px rgba(0, 0, 0, 0.2);
}

#sidebar h2 {
  color: white; /*changed it to a actual color*/
  text-align: center;
}

#sidebar ul {
  list-style: none;
  padding: 0;
}

#sidebar li {
  margin: 15px 0;
}

#sidebar a {
  color: white;
  text-decoration: none;
}

#sidebar a:hover {
  text-decoration: underline;
}

#content {
  margin-left: 250px;
  padding: 40px;
  background-color: #fdf9f4;
}


.section {
  padding: 50px; /* added missing unit, so now it will apply*/margin-bottom: 50px; /* added missing semicolons for it to apply */
  border-radius: 10px;
}

.light {
  background-color: #fff8e6;
}

.dark /* changed .dork to .dark to match what was written in the html */ {
  background-color: #e7cba9;
  color: #3b2b0a;
}



.wool-box {
  position: relative; /* put the colon infront of the position for the attribute to apply*/
  background-color: #f3e0b6;
  padding: 30px;
  margin-top: 25px;
  border-radius: 8px;
}

.wool-detail {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #d4a373;
  color: white;
  padding: 10px;
  border-radius: 5px;
}


#footer {
text-align: center;
padding: 20px;
background-color: #d8b382;
color: white;
}
