/*Basic styling for the whole page*/
*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
/*Styling for the cards and sets the basic layout for it*/
.card-container {
  max-width: 100%;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  gap:35px;
}
/*Styling for actual cards*/
.card{
  margin-top: 100px;
  flex:1;
  background-color:#fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden; 
  transition: transform 0.3s ease-in-out;
}
/*When hovering over the cards it will now have a basic animation*/
.card:hover{
  transform: scale(1.05);
}
/*Styling for card images*/
.card img {
  width:90%;
  height: auto;
  border-radius: 8px;
 /*Styling for written portion in the cards*/
}
.card-content{
  padding: 20px;
}
/*Styling for h3 tag within the card-content class*/
.card-content h3{
  color: black;
  font-size: 27px;
  margin-bottom: 10px;
  font-family: cursive;
  text-align: center;
}
/*Styling for the button within the card-content class*/
.card-content button {
  background-color: #8B0000;
  border: none;
  color: white;
  padding: 10px 30px;
  margin-top: 15px;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
/*Setting the basic layout for the nav bar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}
/*Sets the nav bar text to float left*/
ul li {
  float: left;
}
/*Styling for nav bar text itself*/
ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/*Styling for nav bar so when you hover over it, it will now change colors*/
ul li a:hover {
  background-color: #808080;
}
/*Styling for logo div class background */
.logo{
  background-color: black;
}
/*Styling for the img in the logo div class*/
.logo img{
  height:70px;
}
/*Styling for sale div class so now the image will blend in smoother with the black background*/
.sale{
  background-color:black;
  text-align: center;
}
/*Styling the h1 tag in the sale div class*/
.sale h1{
  color: white;
  font-size: 50px;
}
/*Styling for the footer at the website page*/
.background2 {
  background-color: black;
  background-size: cover;
  background-position: center;
  height: 100vh; 
  width: 100%; 
  margin-top: 15px;
}
/*Styling for the img in the footer and styles the width*/
.background2 img {
  width: auto;
}
/*Styling h4 tag in the footer*/
.background2 h4{
  font-size: 25px;
  color: white;
  font-family: cursive;
  text-align: center;
}
/*Styling for p tag in the footer*/
.background2 p{
  font-size: 20px;
  color: white;
  text-align: center;
  margin-top: -150px;
}
/*Styling for the button*/
.background2 button {
  background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;
  margin-top: 15px;
  margin: 15px auto 0;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
