/* background {
 color: beige;
}

h1 {
 font-family: Helvetica;
 color: purple;
 font-size: 5rem;
 text-decoration: underline;
}

h2 {
 color: red;
} */

body {
 background-color: pink;
}

.name{
colour: purple;
}

.question{
 color: yellow;
 border-color: blueviolet;
}
