background {
 color: beige;
}

h1 {
 font-family: Helvetica;
 color: purple;
 font-size: 5rem;
 text-decoration: underline;
}

h2 {
 color: red;
}

    <link href="style.css" rel="stylesheet" type="text/css"/>
